.featured_dishes_main {
  width: 90%;
  height: 100vh;
  min-height: 20vh;
  display: grid;
  grid-template-rows: 30% 70%;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 246, 246);
  padding: 1% 2%;
  border-radius: 0.5rem;
}

.mySwiper {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.title_dishes {
  width: 80%;
  height: 90%;
  text-align: center;
  background-color: rgb(240, 237, 237);
  border-radius: 0.5rem;
  background-image: url("../../assets/images/fondocarrusel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  position: relative;
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2);


}
.title_dishes h2 {
  width: auto;
  height: 50%;
  font-size: 2.5rem;
  letter-spacing: .2rem;
  text-shadow: 0 0 10px black;
  color: white;
  text-decoration: underline;
  position: absolute;
  top: 10%;
  margin: 0;
  padding: 1%;
}
.title_dishes h3 {
  width: auto;
  height: 50%;
  font-size: 2rem;
  letter-spacing: .1rem;
  text-shadow: 0 0 10px black;
  color: white;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 1% 3%;

}
/*============== Scren 1024 =============*/

@media (max-width: 1024px) {
  .title_dishes{
    width: 95%;
    margin-left: 2.5%;
  }
  .title_dishes h2 {
    font-size: 2rem;
  }
  .title_dishes h3 {
    font-size: 1.8rem;
  
  }
}
/*============== Scren 950 =============*/

@media (max-width: 950px) {
  .title_dishes h2 {
    font-size: 2.8rem;
  }
  .title_dishes h3 {
    font-size: 2.3rem;
  
  }
}
/*============== Scren 820=============*/

@media (max-width: 820px) {
  .featured_dishes_main {
    width: 95%;
  }
  .title_dishes{
    width: 95%;
    margin-left: 2.5%;
  }
  .title_dishes h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    padding: 0;
  }
  .title_dishes h3 {
    font-size: 2rem;
  
  }
}

/*============== Scren 770=============*/
@media (max-width: 768px) {
  .title_dishes h2 {
    font-size: 2.3rem;
  }
  .title_dishes h3 {
    font-size: 2rem;
  
  }
}
/*============== Scren 425=============*/
@media (max-width: 428px) {
  .title_dishes h2 {
    font-size: 1.8rem;
  }
  .title_dishes h3 {
    font-size: 1.5rem;
  
  }
}
/*============== Scren 375=============*/
@media (max-width: 360px) {
  .title_dishes h2 {
    font-size: 1.5rem;
  }
  .title_dishes h3 {
    font-size: 1.3rem;
  
  }
}
/*============== Scren 320=============*/
@media (max-width: 320px) {
  .title_dishes h2 {
    font-size: 1.3rem;
  }
  .title_dishes h3 {
    font-size: 1rem;
  
  }
}