.loader {
    display: flex;
    justify-content: center;
    align-items: start;
    transition: all 0.4s;
    width: 200%;
    height: 100%;
  }
  
  .loader div {
    margin-left: 0.8rem;
    background-color: rgb(187, 23, 23);
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.315);
    border-radius: 100%;
    height: 1rem;
    width: 1rem;
  }
  
  .box_load1 {
    animation: brighten 1.2s infinite;
  }
  
  .box_load2 {
    animation: brighten 1.2s infinite;
    animation-delay: .2s;
  }
  
  .box_load3 {
    animation: brighten 1.2s infinite;
    animation-delay: .4s;
  }
  
  @keyframes brighten {
    100% {
      background-color: rgb(165, 165, 165);
      box-shadow: none;
    }
  }
  
  @media (max-width: 720px) {
    .loader{
        width: 100%;
    }
  }