.ingredients_table{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-collapse: collapse;
}
.ingredients_table th, .ingredients_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 1rem;
    background-color: white;
  }
  
  .ingredients_table th {
    background-color: #ad1f1f;
    text-align: center;
    color: white;
  }