.categories_main {
  width: 90%;
  height: 130vh;
  display: grid;
  grid-template-rows: 0.7fr 0.3fr;
  padding: 3% 5%;
  gap: 2%;
  background-color: rgb(246, 246, 246);
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
}
.item {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2);
}
.item_description {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.item_up {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  width: 100%;
  height: 100%;
  gap: 2%;
}
.item_down {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  background-color: rgb(220, 219, 219);
  padding: 1% 2%;
  border-radius: 0.5rem;
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.2);
}

/*============== Scren 1440 =============*/
@media (max-width: 1440px) {
}
/*============== Scren 950 =============*/
@media (max-width: 950px) {
  .categories_main {
    height: 90vh;
  }
}
/*============== Scren 820=============*/
@media (max-width: 820px) {
  .categories_main {
    height: 80vh;
  }
  .item_down {
    padding: 3% 2%;
    grid-area: 3%;
  }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
  .categories_main {
    padding: 3% 3%;
    height: 100vh;
  }
}
/*============== Scren 425=============*/
@media (max-width: 428px) {
  .categories_main {
    grid-template-rows: 0.8fr 0.2fr;
    padding: 5% 5%;
    gap: 1%;
  }
  .item_up {
    grid-template-rows: 0.6fr 0.4fr;
    grid-template-columns: 1fr;
    gap: 1%;
  }
  .item_down {
    grid-template-columns: 0.5fr 0.5fr ;
    grid-template-rows: 1fr;
    gap: 1%;
  }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {
}
