.detail_main {
  margin-top: 8vh;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 50vh;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
}
/*Contenedor de la imagen y los detalles generales*/
.header_detail {
  width: 100%;
  height: auto;
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.containerImage {
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: rgb(245, 243, 243);


}
.containerDescription {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1%;
  padding: 1% 2%;
  background-color: rgb(239, 236, 236);
  height: auto;
  object-fit: contain;

}

.container_tablet_detail {
  height: auto;
}
/*Contenedro de los pasos a seguir*/
.content_detail {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  min-height: 50vh;
}
/*Contenedor de los links de la publicacion*/
.links_detail {
  width: 100%;
  height: auto;
}
.container_card{
  background-color: rgb(245, 243, 243);

}


/*============== Scren 960=============*/
@media (max-width: 960px) {
  .detail_main {
    padding-left: 0;
    padding-right: 0;
    grid-template-rows: auto auto 50vh;
  }
  .header_detail {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
 
  .container_card {
    padding: 2% 3%;
  }
}
/*============== Scren 820=============*/
@media (max-width: 820px) {
  .detail_main {
    padding-left: 0;
    padding-right: 0;
    grid-template-rows: auto auto 50vh;
  }
  .header_detail {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

}
/*============== Scren 768=============*/
@media (max-width: 768px) {
}
/*============== Scren 425=============*/

/*============== Scren 375=============*/
@media (max-width: 375px) {
}
