.card_main{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    border-radius: .5rem;
}
.score_food{
    width: 25%;
    height: 20%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1% 2%;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: green;
}
.score_food span {
    background-color: rgba(255, 255, 255, 0.647);
    padding: 4% 5%;
    border-radius: .3rem;
    backdrop-filter: blur(50px);

}
.name_food{
    width: 100%;
    height: auto;
    min-height: 25%;
    position: absolute;
    bottom: 0;
    background-color: rgba(153, 16, 16, 0.761);
    font-size: 150%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: cover;
    text-overflow: ellipsis;
    text-align: center;
    padding: 0 2%;
    border-radius: 0 0 .5rem .5rem

}
.name_food a {
    text-decoration: none;
    color: white;
}
.name_food h3 {
    margin: 0;
    padding: 0;
}
.container_favorite{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 5%;
    left: 3%;
}

/*============== Scren 1440 =============*/
@media (max-width: 1440px) {}
/*============== Scren 1024=============*/
@media (max-width: 1024px) {}
/*============== Scren 950 =============*/
@media (max-width: 950px) {
    .name_food{
        font-size: 200%;
    }
    .score_food {
        font-size: 200%;
    }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {}
/*============== Scren 425=============*/
@media (max-width: 428px) {
    .score_food {
        font-size: 150%;
    }
    .name_food{
        font-size: 130%;
    }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {}