.header_main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.container_video {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header_main video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.welcome_header {
  width: 50%;
  height: 90%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  position: absolute;
  right: 5%;
  bottom: 2%;
  display: grid;
  grid-template-rows: 20% 50% 30%;
  background-color: rgba(255, 255, 255, 0.511);
}
.title_header{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  background-color: rgba(153, 16, 16, 0.557);

}
.title_header  img {
  width: 150px;

}
.description_header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: start;

}
.description_header_title{
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 5%;
  padding-left: 2%;
  width: 100%;
  height: 100%;
}
.description_header_title span {
  font-size: 1.3rem;
}

.login_header{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 2% 3%;
}
.btn_login{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.login_header p {
  font-size: 1.5rem;
}
.btn_login button {
  width: 40%;
  height: 60%;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: .3rem;
  background-color: rgb(153, 16, 16);
  color: white;
}

/*============== Scren 1024=============*/
@media (max-width: 1024px) {
}
/*============== Scren 950=============*/
@media (max-width: 950px) {
  .welcome_header {
    width: 70%;
    height: 80%;
    bottom: 10%;
  }
  .title_header  img {
    width: 160px;
  
  }
}
/*============== Scren 900=============*/
@media (max-width: 900px) {
  .welcome_header {
    width: 70%;
    height: 80%;
    bottom: 11%;
  }
  .login_header p {
    font-size: 1.5rem;
  }
  .btn_login button {
    height: 60%;
  }

}
/*============== Scren 820=============*/
@media (max-width: 820px) {
  .btn_login button {
    height: 80%;
    font-weight: 500;
  }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
  .welcome_header {
    width: 70%;
    height: 90%;
    bottom: 2%;
  }
  .title_header  img {
    width: 140px;
  
  }
  .login_header p {
    font-size: 1.3rem;
  }

}
/*============== Scren 425=============*/
@media (max-width: 428px) {
  .welcome_header {
    width: 90%;
  }
  .description_header_title span {
    font-size: 1.1rem;
  }
  .login_header p {
    font-size: 1.1rem;
  }
}
/*============== Scren 384=============*/
@media (max-width: 384px) {

  .btn_login button {
    height: 100%;
  }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {
  .description_header_title span {
    font-size: 1rem;
  }
  .title_header  img {
    width: 100px;
  
  }
}
/*============== Scren 360=============*/
@media (max-width: 360px) {
  .login_header p {
    font-size: 1rem;
  }
  .btn_login button {
    height: 80%;
  }
}
/*============== Scren 320=============*/
@media (max-width: 320px) {
  .login_header p {
    font-size: .7rem;
  }
  .btn_login button {
    height: 80%;
  }
}
