/* Estilos para la barra de navegación principal */
.nav_main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  position: fixed;
  background-color: rgb(153, 16, 16);
  z-index: 2;
}

/* Estilos para el contenedor del logo */
.container_logo {
  height: 100%;
  width: 35%;
  min-width: 15%;
}

/* Estilos para el contenedor de la barra de búsqueda */
.container_search {
  height: 100%;
  width: 70%;
}

/* Estilos para el contenedor de los enlaces */
.container_links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  color: white;
  
}

/* Estilos para el botón desplegable */
.dropbtn {
  cursor: pointer;
  background-color: transparent;
  width: 8rem;
  height: 100%;
  border: 1px solid red; /* Borde del botón desplegable */
}

/* Estilos para el menú desplegable */
.dropdown {
  width: 100%;
  height: 100%;
  
}
#title_nav{
  color: white;
}

/* Estilos para el contenido del menú desplegable */
.dropdown_content {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  

}

/* Estilos para los enlaces dentro del menú desplegable */
.container_links a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  color: black;
  
}

/* Cambiar color al pasar el mouse sobre los enlaces */
.dropdown_content a:hover {
  background-color: #f1f1f1;
}

/* Mostrar el menú desplegable al pasar el mouse sobre el botón */
.dropdown:hover .dropdown_content {
  display: flex;
  flex-flow: column wrap;
  left: 0;
  top: 99%;
  background-color: white;
  max-height: 30vh;
  overflow-y: auto;
}

/* Estilos para el menú móvil */
.menu_mobile {
  display: none;
}
.container_links button {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.container_links button:hover {
  background-color: rgb(149, 14, 14);
}





/* Estilos responsivos para pantalla de 768px */
@media (max-width: 768px) {
  .container_logo {
    width: 35%;
  }
  .container_search {
    width: 60%;
  }
  .dropbtn {
    width: 6rem;
  }

}

/* Estilos responsivos para pantalla de 650px */
@media (max-width: 650px) {
  .container_logo {
    width: 35%;
  }
  .container_search {
    display: none;
  }
  .container_links {
    display: none;
  }
  .menu_mobile {
    display: block;
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
  }
}

/* Estilos responsivos para pantalla de 425px */
@media (max-width: 425px) {
  /* Puedes agregar estilos específicos para esta pantalla si es necesario */
}

/* Estilos responsivos para pantalla de 375px */
@media (max-width: 375px) {
  /* Puedes agregar estilos específicos para esta pantalla si es necesario */
}
