@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');


.description_main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: .3fr 1.2fr .5fr;
}

.title_description {
  width: 100%;
  height: 100%;
  padding: 2% 3%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.title_description h2 {
  margin: 0;
  padding: 0;
}
.description_text {
  width: 100%;
  height: 100%;
  max-height: 18rem;
  padding: 2% 4%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  overflow: auto;
  text-overflow: ellipsis;

  
}
.description_text p {
  margin: 0;
  padding: 0;
}
.button_category {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: space-around;
  text-align: center;
  padding: 5% 5%;
}
.button_category button{
  border: none;
  width: 60%;
  height: 40%;
  margin-left: 25%;
  background-color: rgb(153, 16, 16);
  cursor: pointer;
  border-radius: .5rem;
}
.button_category a {
  text-decoration: none;
  color: white;

}
/*============== Scren 820=============*/
@media (max-width: 820px) {
    .description_main{
        grid-template-rows: .3fr 1.3fr .4fr;
    }
    .description_text{
        max-height: 24rem;
    }
    .button_category button{
      width: 70%;
      height: 50%;
      margin-left: 15%;
    }

}
@media (max-width: 768px) {
  .description_main {
    display: grid;
    grid-template-rows: 0.25fr 0.5fr 0.25fr;
    grid-template-columns: 1fr;
  }
  .description_text {
    height: 100%;
    max-height: 25rem;
  }
  .button_category button{
    height: 30%;
    width: 60%;
    margin-left: 20%;
  }
}
@media (max-width: 428px) {
  .description_main {
    display: grid;
    grid-template-rows: 20% 80%;
  }
  .description_text{
    display: none;
  }
  .button_category{
    justify-content: space-around;


  }
  .button_category button{
    height: 20%;
  }
}
/*============== Scren 360=============*/
@media (max-width: 360px) {
  .button_category button{
    width: 70%;
    height: 35%;
    margin-left: 15%;
  }
}
