@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Condensed:ital,wght@1,300&display=swap");
:root {
  --principalColor: rgb(153, 16, 16);
}

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
}
h3 p span {
  font-family: "PT Serif", serif;
  font-family: "Roboto Condensed", sans-serif;
}
